@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 50, 50, 150;
    --background-end-rgb: 0, 80, 80;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div {
  @apply text-black
}


.text-gradient {
  @apply bg-gradient-to-br from-cyan-500 via-blue-500 to-[#05498D];
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  @apply bg-gradient-to-br from-cyan-500 via-blue-500 to-[#05498D] hover:from-[#3884bb] hover:via-blue-400 hover:to-[#1e4f80] transition duration-300 ease-out;
}

.bg-black-gradient {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}



/*
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f; 
  @apply bg-gradient-to-br from-cyan-500 via-blue-500 to-[#05498D] hover:from-[#3884bb] hover:via-blue-400 hover:to-[#1e4f80] transition duration-300 ease-out;
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #050814; 
}
*/